In [1]:
import pandas as pd

data = pd.read_csv("data_resampled.csv")
data

,Age,BMI,Menstrual_Irregularity,Testosterone_Level(ng/dL),Antral_Follicle_Count,PCOS_Diagnosis
0,39.0,28.200000,0.0,60.000000,14.0,0
1,39.0,19.500000,1.0,91.100000,20.0,0
2,44.0,25.000000,0.0,22.200000,19.0,0
3,42.0,24.000000,1.0,43.800000,28.0,0
4,37.0,28.500000,1.0,54.000000,14.0,1
...,...,...,...,...,...,...
1273,23.0,31.604315,1.0,92.800000,15.0,1
1274,30.0,26.675648,1.0,68.712335,15.0,1
1275,NaN,NaN,NaN,NaN,NaN,1
1276,24.0,29.763113,1.0,96.721515,27.0,1
1277,24.0,27.278409,1.0,46.702953,11.0,1

In [2]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=3)
data_knn = pd.DataFrame(imputer.fit_transform(data), columns=data.columns)
data_knn

,Age,BMI,Menstrual_Irregularity,Testosterone_Level(ng/dL),Antral_Follicle_Count,PCOS_Diagnosis
0,39.000000,28.200000,0.0,60.000000,14.0,0.0
1,39.000000,19.500000,1.0,91.100000,20.0,0.0
2,44.000000,25.000000,0.0,22.200000,19.0,0.0
3,42.000000,24.000000,1.0,43.800000,28.0,0.0
4,37.000000,28.500000,1.0,54.000000,14.0,1.0
...,...,...,...,...,...,...
1273,23.000000,31.604315,1.0,92.800000,15.0,1.0
1274,30.000000,26.675648,1.0,68.712335,15.0,1.0
1275,33.333333,29.233333,1.0,62.833333,18.0,1.0
1276,24.000000,29.763113,1.0,96.721515,27.0,1.0
1277,24.000000,27.278409,1.0,46.702953,11.0,1.0

In [3]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imputer = IterativeImputer(max_iter=10, random_state=0)
df_mi = pd.DataFrame(imputer.fit_transform(data), columns=data.columns)
df_mi

,Age,BMI,Menstrual_Irregularity,Testosterone_Level(ng/dL),Antral_Follicle_Count,PCOS_Diagnosis
0,39.000000,28.200000,0.000000,60.000000,14.000000,0.0
1,39.000000,19.500000,1.000000,91.100000,20.000000,0.0
2,44.000000,25.000000,0.000000,22.200000,19.000000,0.0
3,42.000000,24.000000,1.000000,43.800000,28.000000,0.0
4,37.000000,28.500000,1.000000,54.000000,14.000000,1.0
...,...,...,...,...,...,...
1273,23.000000,31.604315,1.000000,92.800000,15.000000,1.0
1274,30.000000,26.675648,1.000000,68.712335,15.000000,1.0
1275,30.087471,30.150098,1.000353,69.926295,20.021662,1.0
1276,24.000000,29.763113,1.000000,96.721515,27.000000,1.0
1277,24.000000,27.278409,1.000000,46.702953,11.000000,1.0

In [4]:
from sklearn.experimental import enable_iterative_imputer
import numpy as np
from sklearn.impute import IterativeImputer
from sklearn.ensemble import RandomForestRegressor
imputer = IterativeImputer(estimator=RandomForestRegressor(), random_state=0)

df_rfi = pd.DataFrame(imputer.fit_transform(data.select_dtypes(include=[np.number])),
                      columns=data.select_dtypes(include=[np.number]).columns)
df_rfi

c:\Python312\Lib\site-packages\sklearn\impute\_iterative.py:825: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

,Age,BMI,Menstrual_Irregularity,Testosterone_Level(ng/dL),Antral_Follicle_Count,PCOS_Diagnosis
0,39.00,28.200000,0.0,60.000000,14.00,0.0
1,39.00,19.500000,1.0,91.100000,20.00,0.0
2,44.00,25.000000,0.0,22.200000,19.00,0.0
3,42.00,24.000000,1.0,43.800000,28.00,0.0
4,37.00,28.500000,1.0,54.000000,14.00,1.0
...,...,...,...,...,...,...
1273,23.00,31.604315,1.0,92.800000,15.00,1.0
1274,30.00,26.675648,1.0,68.712335,15.00,1.0
1275,29.36,30.347796,1.0,78.466893,21.57,1.0
1276,24.00,29.763113,1.0,96.721515,27.00,1.0
1277,24.00,27.278409,1.0,46.702953,11.00,1.0

In [9]:
from sklearn.linear_model import LinearRegression

# Ã–nce Age ve Testosterone deÄŸerlerinin her ikisinin de mevcut olduÄŸu verileri al
df_complete = data.dropna(subset=['Age', 'Testosterone_Level(ng/dL)'])

# Sadece Age deÄŸeri olan ama Testosterone deÄŸeri eksik olan verileri al
df_to_predict = data[
    data['Age'].notna() & 
    data['Testosterone_Level(ng/dL)'].isna()
]

if len(df_to_predict) > 0:  # Tahmin edilecek veri varsa
    # Modeli eÄŸit
    model = LinearRegression()
    X_train = df_complete[['Age']]
    y_train = df_complete['Testosterone_Level(ng/dL)']
    model.fit(X_train, y_train)

    # Tahmin yap
    X_test = df_to_predict[['Age']]
    predicted_values = model.predict(X_test)

    # Tahminleri yerleÅŸtir
    data.loc[df_to_predict.index, 'Testosterone_Level(ng/dL)'] = predicted_values

data

,Age,BMI,Menstrual_Irregularity,Testosterone_Level(ng/dL),Antral_Follicle_Count,PCOS_Diagnosis
0,39.0,28.200000,0.0,60.000000,14.0,0
1,39.0,19.500000,1.0,91.100000,20.0,0
2,44.0,25.000000,0.0,22.200000,19.0,0
3,42.0,24.000000,1.0,43.800000,28.0,0
4,37.0,28.500000,1.0,54.000000,14.0,1
...,...,...,...,...,...,...
1273,23.0,31.604315,1.0,92.800000,15.0,1
1274,30.0,26.675648,1.0,68.712335,15.0,1
1275,NaN,NaN,NaN,NaN,NaN,1
1276,24.0,29.763113,1.0,96.721515,27.0,1
1277,24.0,27.278409,1.0,46.702953,11.0,1

In [10]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

mice_imputer = IterativeImputer(max_iter=10, random_state=0)

numeric_columns = data.select_dtypes(include=[np.number]).columns
df_imputed_mice = pd.DataFrame(mice_imputer.fit_transform(data[numeric_columns]), 
                               columns=numeric_columns)
df_imputed_mice

,Age,BMI,Menstrual_Irregularity,Testosterone_Level(ng/dL),Antral_Follicle_Count,PCOS_Diagnosis
0,39.000000,28.200000,0.000000,60.000000,14.000000,0.0
1,39.000000,19.500000,1.000000,91.100000,20.000000,0.0
2,44.000000,25.000000,0.000000,22.200000,19.000000,0.0
3,42.000000,24.000000,1.000000,43.800000,28.000000,0.0
4,37.000000,28.500000,1.000000,54.000000,14.000000,1.0
...,...,...,...,...,...,...
1273,23.000000,31.604315,1.000000,92.800000,15.000000,1.0
1274,30.000000,26.675648,1.000000,68.712335,15.000000,1.0
1275,30.087471,30.150098,1.000353,69.926295,20.021662,1.0
1276,24.000000,29.763113,1.000000,96.721515,27.000000,1.0
1277,24.000000,27.278409,1.000000,46.702953,11.000000,1.0

Ã‡oklu tahmin yaklaÅŸÄ±mÄ± bÃ¼yÃ¼k ve karmaÅŸÄ±k veri setleri iÃ§in birebirdir.